.start-screen {
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
        img {
            height: 100vh;
        }
}

.start-label-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 350px;
    display: flex;
    justify-content: center;

    img {
        width: 20vw;
        height: auto;

        &:hover {
            filter: brightness(1.5);
            cursor: pointer;
        }
    }

}